<nav class="mt-10 flex justify-between hide-if-suffix-is-1-{{pages}}">
    {{#if prev}}
        <a href="{{page_url prev}}" class="button bg-primary">{{t "Older Posts"}}</a>
    {{else}}
        <a class="button bg-gray-100" disabled="disabled">{{t "Older Posts"}}</a>
    {{/if}}
    <span>{{t "Page {{page}} of {{pages}}"}}</span>
    {{#if next}}
        <a href="{{page_url next}}" class="bg-primary">{{t "Newer Posts"}}</a>
    {{else}}
        <a class="button bg-gray-100" disabled="disabled">{{t "Newer Posts"}}</a>
    {{/if}}
</nav>

