<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="{{asset "built/ghostwriter.css"}}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://cdnjs.cloudflare.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="{{asset "built/ghostwriter.js"}}" defer/>

    {{ghost_head}}

</head>
<body class="{{body_class}} text-base">

    <div class="wrapper flex items-center {{^is "home"}}justify-between{{/is}}">
        <div class="flex items-center justify-items-start">
            <a class="hidden sm:inline-block mr-5" href="{{@site.url}}">
                <img src="{{img_url @site.logo size="sm"}}" alt="{{@site.title}}" class="w-20 h-20 rounded-full" loading="lazy" />
            </a>
            <a href="{{@site.url}}">
                <h1 class="inline-block h-20 py-6 font-bold text-2xl">{{@site.title}}</h1>
            </a>
        </div>
        {{^is "home"}}<a class="button bg-primary text-white" href="/"><i class="fas fa-home"></i><span class="hidden sm:inline-block ml-2">Frontpage</span></a>{{/is}}
    </div>

    <main>
        {{{body}}}
    </main>

    <div class="wrapper">
        <div class="w-full bg-primary rounded-md text-white text-center p-10">
            {{#if @member}}
                <h3 class="mx-auto text-4xl font-bold mb-5">Thanks for subscribing!</h3>
                <p>This really means a lot to me <i class="fas fa-heart"></i></p>
            {{else}}
                <h3 class="mx-auto text-4xl font-bold mb-5">Want to stay up to date?</h3>
                <form data-members-form="signup" class="mx-auto">
                    <input data-members-email
                           class="px-4 py-2 mr-2 w-full max-w-md text-black mb-5 outline-none rounded" type="email"
                           placeholder="me@example.com" required>
                    <button type="submit" class="button bg-secondary">Subscribe</button>
                    <p data-members-error></p>
                </form>
            {{/if}}
        </div>
    </div>

<footer class="wrapper">
    <div class="flex flex-wrap mb-10">
        <div class="w-full lg:w-1/2 py-5 md:px-5">
            <div class="mb-5">
                <img src="{{img_url @site.logo size="sm"}}" alt="{{@site.title}}" class="w-20 md:h-20 rounded-full float-left" loading="lazy" />
                <h3 class="inline-block h-20 pl-5 py-6 font-bold text-2xl">{{@site.title}}</h3>
            </div>
            <p>{{@site.description}}</p>
        </div>
        <nav class="w-full md:w-1/2 lg:w-1/4 py-5 md:px-5">
            <h3 class="text-2xl font-bold mb-5 lg:h-20 lg:py-6">Topics</h3>
            {{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
                {{#foreach tags}}
                    {{> nav-item}}
                {{/foreach}}
            {{/get}}
        </nav>
        <nav class="w-full md:w-1/2 lg:w-1/4 py-5 md:px-5">
            <h3 class="text-2xl font-bold mb-5 lg:h-20 lg:py-6">Links</h3>
            {{navigation}}
        </nav>
    </div>


    <div class="flex justify-between flex-wrap">
        <p class="mb-2"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</p>
        <a class="mb-20 md:mb-0" href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a>
    </div>
</footer>

{{ghost_foot}}

</body>
</html>
