<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{asset "built/ghostwriter.css"}}"/>
</head>
<body>
<section class="content container mx-auto">
    <h1>{{t "Error"}} {{statusCode}}</h1>
    <p>{{message}}</p>
    <a class="mt-10 button bg-black text-white" href="{{@site.url}}">{{t "Go to frontpage"}}</a>
</section>

{{#if errorDetails}}
    <section class="content container mx-auto mt-10">
        <h3>Theme errors</h3>
        <ul>
            {{#foreach errorDetails}}
                <li>
                    <em>{{{rule}}}</em>

                    {{#foreach failures}}
                        <p><span>{{t "Ref"}}: {{ref}}</span></p>
                        <p><span>{{t "Message"}}: {{message}}</span></p>
                    {{/foreach}}
                </li>
            {{/foreach}}
        </ul>
    </section>
{{/if}}
</body>
</html>
